
html {
  font-size: 15px;
}

@media only screen and (min-width: 700px) {
   html { font-size: 20px; }
}

@media only screen and (min-width: 1500px) {
   html { font-size: 30px; }
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
}

.fw-400 { font-weight: 400; }
.fw-700 { font-weight: 700; }

.underline { border-bottom: 1px solid #fff; }
