<section class="w-100">
  <div class="swiper-container vh-100 w-100">
  <div class="swiper-wrapper op80">
    {% for photo in slides.slideshow %}
    <!-- https://github.com/bfred-it/object-fit-images -->
      <img
      srcset="{{ site.imgurl }}/c_limit,h_300,w_200,fl_progressive/{{ site.tempurl }}{{ photo.image }} 200w,
              {{ site.imgurl }}/c_limit,h_1000,w_800,fl_progressive/{{ site.tempurl }}{{ photo.image }} 800w,
              {{ site.imgurl }}/c_limit,h_2000,w_1500,fl_progressive/{{ site.tempurl }}{{ photo.image }} 1500w,
              {{ site.imgurl }}/c_limit,h_3500,w_2500,fl_progressive/{{ site.tempurl }}{{ photo.image }} 2500w,
              {{ site.imgurl }}/c_limit,h_5500,w_4000,fl_progressive/{{ site.tempurl }}{{ photo.image }} 4000w"
      src="{{ photo.image }}"
      onerror="this.onerror=null;this.srcset='{{ photo.image }}';"
      class="swiper-slide w-100 h-100"
      style=" object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }}; font-family: 'object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }};'"
      alt="{{ photo.title }}">
      </img>
    {% endfor %}
  </div>
</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
<script src="https://unpkg.com/object-fit-images@3.0.1/dist/ofi.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
  loop: true,
  autoplay: {{site.slider-rate}},
  speed: 1
  });

objectFitImages();
</script>
